@font-face {
  src: url("/assets/fonts/Exo2-SemiBold.ttf");
  font-family: "exo2-semibold";
}
@font-face {
  src: url("/assets/fonts/Exo2-SemiBoldItalic.ttf");
  font-family: "exo2-semibolditalic";
}
@font-face {
  src: url("/assets/fonts/Exo2-Medium.ttf");
  font-family: "exo2-medium";
}
@font-face {
  src: url("/assets/fonts/Exo2-Regular.ttf");
  font-family: "exo2-regular";
}

@font-face {
  src: url("/assets/fonts/Exo2-BoldItalic.ttf");
  font-family: "exo2-bolditalic";
}
@font-face {
  src: url("/assets/fonts/Berthold\ Akzidenz\ Grotesk\ BE\ Regular.ttf");
  font-family: "ak-regular";
}

.row {
  --bs-gutter-x: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

p,
li {
  font-family: "ak-regular";
  color: var(--darkCharcoal);
  font-size: 1.3em;
  line-height: 25px;
}

:root {
  --offWhite: #f5f5f5;
  --darkCharcoal: #333333;
  --primary: #e21d39;
  --grayBackground: #494949;
  --lightGray: #dbdbdb;
}

h1 {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Exo 2", sans-serif;
  color: var(--primary);
  font-size: 3.8em;
  line-height: 60px;
  text-transform: uppercase;
}

h1 span {
  color: var(--darkCharcoal);
}

h2 {
  color: var(--primary);
  font-family: "exo2-bolditalic";
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 15px #00000038;
  z-index: 3;
  background: var(--offWhite);
  position: relative;
}

nav p {
  margin-top: 0.35rem;
}

.red {
  color: var(--primary);
}
.nav-home {
  width: 5%;
  margin-left: 3rem;
}

.hamburger-container {
  display: none;
}
.menu-icon {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin: 0.4rem 1rem 0 0.5rem;
}

.menu-icon span {
  position: absolute;
  left: 0;
  width: 90%;
  height: 4.5px;
  background-color: var(--primary);
  backface-visibility: hidden;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 7px;
}

.menu-icon span:nth-child(3) {
  top: 14px; /* Use a fractional value for smoother rendering */
}
.menu-icon span:nth-child(3).active {
  transform: rotate(45deg) translate(-5px, -5px);
}
.menu-icon span:nth-child(2).active {
  transform: translateX(100%);
  opacity: 0;
}
.menu-icon span:nth-child(1).active {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.nav-links-container {
  width: 100%;
  height: 100%;
  background: var(--offWhite);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vr {
  display: none;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0;
  left: 50%;
  /* transform: translateX(-50%); */
  z-index: 1;
  padding: 0 1rem;
  height: 4.5rem;
  margin: auto;
}

.nav-links.active {
  top: 100%;
}

nav li {
  font-family: "exo2-semibold";
  font-size: 1em;
}

.navigation-link:link,
.navigation-link:visited {
  color: var(--darkCharcoal);
  text-decoration: none;
  margin: 0 1rem;
  padding-top: 10rem;
  padding-bottom: 0.4rem;
  border-bottom: 3px solid transparent;
  transition: border 0.2s ease-in;
}

.navigation-link.active {
  border-bottom: 3px solid var(--primary);
}

.navigation-link:hover {
  border-bottom: 3px solid var(--primary);
}

nav .vr {
  height: 70%;
  margin: auto 0;
  width: 1.5px;
  opacity: 0.7;
}

.header-title {
  background: #fff;
}

header video {
  width: 100%;
  height: 60vh;
  object-fit: fill;
  vertical-align: middle;
}

.header-img {
  position: absolute;
  z-index: 2;
  width: 110%;
  max-width: 110%;
  height: 100%;
  object-fit: fill;
}

/* SECTION PRODUCT */
.section-product {
  box-shadow: 0px 0px 10px #000;
}

.section-product h2 {
  padding-top: 3rem;
  font-size: 3.5em;
  margin-left: 4rem;
  margin-bottom: 1rem;
}
.product-container-one {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-product-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.product-container-one p {
  width: 80%;
  margin: 2rem auto;
}

.product-container-one p:last-of-type {
  padding-bottom: 3rem;
}

.product-container-two {
  background: url("/assets/img/background-our-product-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 3rem;
}

/* SECTION HOW IT WORKS */
.section-how-it-works {
  background: #aaaaaa;
}

.how-it-works-text-container {
  background: url("/assets/img/how-it-works-background.webp");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
}

.how-it-works-text-container h2 {
  color: var(--offWhite);
  font-size: 3.5em;
  text-align: left;
  align-self: flex-start;
  margin-left: 4rem;
  padding-top: 3rem;
  font-family: "Exo 2", sans-serif;
  line-height: 0.8em;
}

.how-it-works-text-container h2 span {
  font-family: "exo2-bolditalic";
  font-size: 0.75em;
}

.how-it-works-text-container p {
  width: 75%;
  margin: 1rem auto 3rem auto;
  color: var(--offWhite);
  line-height: 25px;
}

.steps-img {
  padding-right: 3rem;
  opacity: 0;
}

.steps-img.animate__animated {
  opacity: 1;
}
/* SECTION PERKS */
.section-perks {
  background: url("/assets/img/background-perks-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}

.section-perks h2 {
  color: var(--primary);
  font-size: 4.3em;
  text-align: left;
  align-self: flex-start;
  margin-left: 4rem;
  padding-top: 2rem;
  font-family: "Exo 2", sans-serif;
  line-height: 0.8em;
  margin-bottom: 1.5rem;
}

.section-perks h2 span {
  font-family: "exo2-bolditalic";
  font-size: 0.75em;
}

.perks-container {
  padding-right: 4rem;
}

.perks-container p {
  line-height: 25px;
}

.section-perks ul {
  margin: 1rem 0;
  padding-left: 3rem;
}

.section-perks li {
  display: flex;
  align-items: center;
  line-height: 22px;
  margin: 0.8rem 0;
}

.section-perks li img {
  margin-right: 1rem;
}

/* FOOTER */
footer {
  background: var(--grayBackground);
  padding: 2rem 0 0 0;
}

.footer-mdn {
  background: var(--offWhite);
  color: var(--darkCharcoal);
  font-size: 1em;
}

.footer-mdn a:link,
.footer-mdn a:visited {
  color: var(--darkCharcoal) !important;
}

footer p,
footer li,
footer a,
footer h4 {
  color: var(--offWhite);
  text-align: center;
}
footer ul {
  padding: 0;
}

footer h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
}
footer p,
footer li {
  font-size: 1.25em;
}

footer img {
  width: 10%;
  margin-right: 1rem;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footer-container div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.2rem 0;
}
.footer-title {
  border-bottom: 3px solid var(--offWhite);
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.info-container h4 {
  margin-bottom: 0;
}

/* FIND US  */

.section-location {
  background: rgb(255, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 254, 1) 10%,
    rgba(224, 223, 223, 1) 100%
  );
  height: 40vh;
}

.section-location .row {
  height: 100%;
}
.text-location-container,
.text-location {
  height: 100%;
}
.section-map {
  overflow: hidden;
  background: rgb(255, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 254, 1) 10%,
    rgba(224, 223, 223, 1) 100%
  );
}
.header-img-right {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.text-location-container,
.space-container {
  background: rgb(255, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 254, 1) 10%,
    rgba(224, 223, 223, 1) 100%
  );
  height: 100%;
}

.big-container {
  height: 100%;
}

.text-location {
  width: 80%;
  margin: 0 auto;
}
.text-location h2 {
  font-size: 2.5em;
}

.text-location p {
  font-size: 1.4em;
}
.planet-img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-35%, -1%);
  width: 135%;
  max-width: 190%;
}

.space-img {
  clip-path: polygon(0 0, 90% 0, 65% 100%, 0% 100%);
}

.st0 {
  fill: #ababab;
  stroke: #ffffff;
  stroke-width: 0.0707;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #ababab;
  stroke: #ffffff;
  stroke-width: 0.0707;
  stroke-miterlimit: 1.2326;
}

.st2 {
  fill: #ababab;
  stroke: #ffffff;
  stroke-width: 0.0424;
  stroke-miterlimit: 1.2326;
}

.st4 {
  fill: #4f4f4f;
  fill-opacity: 0;
}

.elegible,
.elegible path {
  fill: #585858;
  transition: fill 0.2s ease-in-out;
  position: relative;
}

.animation-circle {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  background: red;
  z-index: 4;
}

.elegible:hover,
.elegible.active {
  fill: var(--primary);
  cursor: pointer;
}

.elegible:hover path,
.elegible.active path {
  fill: var(--primary);
}

.map-container svg {
  width: 80%;
  margin-left: auto;
}

.country-list-container ul {
  width: 100%;
  height: 100%;
  background: url("/assets/img/countries.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0 0 0 6rem;
  clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);
}

.country-list-container ul li {
  color: var(--offWhite);
  font-family: "exo2-semibolditalic";
  margin: 2.5rem 0;
  font-size: 3.5em;
  position: relative;
  cursor: pointer;
}

.circle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 110%;
  transform: translateY(35%);
}
.circle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  border: 2px solid white;
  opacity: 0;
  z-index: 100;
  border-radius: 100%;
  animation: circle 3s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  -webkit-animation: circle 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.modal-footer {
  border-top: none;
}

@keyframes circle {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }
  100% {
    transform: scale(2.2, 2.2);
    opacity: 0;
  }
}

.selected-country-container {
  position: absolute;
  height: 40%;
  width: 50%;
  /* border: 1px solid rgb(213, 213, 213); */
  bottom: 10%;
  left: 15%;
  padding: 1rem;
}

.selected-country-container li,
.selected-country-container h3 {
  margin: 2rem 0;
}

.selected-country-container a,
.selected-country-container p {
  font-size: 1em;
}

.selected-country-container .laboratory-info-header {
  font-family: "exo2-semibold";
}

#selected-country {
  font-family: "exo2-semibolditalic";
  color: var(--darkCharcoal);
  font-size: 3em;
}

#laboratory-img {
  width: 60%;
}

#laboratory-web-link {
  color: var(--darkCharcoal);
}

/* US PAGE */
.section-who-are-we {
  background: url("/assets/img/quienes-somos-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 5rem;
}

.section-who-are-we img {
  max-width: 60%;
  padding: 1rem 0;
}

.section-who-are-we p {
  width: 70%;
  font-size: 1.5em;
}

.section-who-are-we h2 {
  font-size: 2.6rem;
}

/* PAGE studies */

.section-studies {
  padding-top: 2rem;
  background: rgb(255, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 254, 1) 10%,
    rgba(224, 223, 223, 1) 100%
  );
}

.img-jogging {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}

.section-studies h2 {
  font-size: 3.5em;
}
.studies-list {
  list-style-type: decimal;
  color: var(--primary);
}

.studies-list li::marker {
  color: var(--primary);
}
.studies-list li {
  margin: 2rem 0;
}

.studies-list li p {
  color: var(--primary);
  font-family: "exo2-bolditalic";
  font-size: 1em;
}

.studies-list li span,
.studies-list li a {
  color: var(--darkCharcoal);
}

.studies-list li a {
  font-family: "Exo 2", sans-serif;
  padding-left: 1.5rem;
}

.study-title-container {
  border-right: 3px solid var(--darkCharcoal);
}

/* EVENTS PAGE */
.section-events {
  background: rgb(255, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 254, 1) 10%,
    rgb(235, 235, 235) 100%
  );

  padding: 1.5rem;
}

.section-events h2 {
  font-size: 3em;
}
.img-triangle-center {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}

.events-list li {
  margin: 2rem 0;
}

.events-list li p {
  color: var(--primary);
  font-family: "Exo 2", sans-serif;
}
.events-list li p:first-of-type {
  line-height: 2rem;
}
.events-list .styled-event p,
.events-list .styled-event .event-location {
  color: var(--offWhite);
}

.event-header {
  background: rgb(226, 29, 57);
  background: linear-gradient(
    180deg,
    rgba(226, 29, 57, 1) 50%,
    rgba(179, 30, 51, 1) 100%
  );
  padding: 1rem 1rem 0.1rem 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.events-list li .event-location {
  color: var(--darkCharcoal);
  font-family: "exo2-regular";
  font-size: 1em;
}

.event-body {
  background: #e0e0e0;
  width: 100%;
  height: 30rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.event-body img,
.event-body video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0px 0px 10px #00000096;
}

.event-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.styled-event-1 .div1 {
  grid-area: 1 / 1 / 13 / 5;
  /* background: red; */
}
.styled-event-1 .div2 {
  grid-area: 1 / 5/ 7 / 10;
}

.styled-event-1 .div3 {
  grid-area: 7 / 5 / 13 / 10;
}

.styled-event-1 .div4 {
  grid-area: 4 / 5 / 7 / 7;
}

.styled-event-2 .div1 {
  grid-area: 1 / 1 / 7 / 4;
}
.styled-event-2 .div2 {
  grid-area: 7 / 1 / 13 / 4;
}
.styled-event-2 .div3 {
  grid-area: 1 / 4 / 13 / 7;
}
.styled-event-2 .div4 {
  grid-area: 1 / 7 / 7 / 10;
}
.styled-event-2 .div5 {
  grid-area: 7 / 7 / 13 / 10;
}

.styled-event-3 .div1 {
  grid-area: 1 / 1 / 13 / 6;
}
.styled-event-3 .div2 {
  grid-area: 1 / 6 / 13 / 10;
}

.styled-event-4 .div1 {
  grid-area: 1 / 1 / 13 / 4;
}
.styled-event-4 .div2 {
  grid-area: 1 / 4 / 13 / 7;
}
.styled-event-4 .div3 {
  grid-area: 1 / 7 / 7 / 10;
}
.styled-event-4 .div4 {
  grid-area: 7 / 7 / 13 / 10;
}
.styled-event-5 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.styled-event-5 .div1 {
  grid-area: 1 / 1 / 5 / 3;
}
.styled-event-5 .div2 {
  grid-area: 5 / 1 / 9 / 3;
}
.styled-event-5 .div3 {
  grid-area: 9 / 1 / 13 / 3;
}
.styled-event-5 .div4 {
  grid-area: 1 / 3 / 13 / 6;
}

.styled-event-5 .div4 img {
  object-fit: contain;
  height: auto;
  width: auto;
}
.styled-event-5 .div5 {
  grid-area: 1 / 6 / 5 / 8;
}
.styled-event-5 .div6 {
  grid-area: 5 / 6 / 9 / 8;
}
.styled-event-5 .div7 {
  grid-area: 9 / 6 / 13 / 8;
}
.styled-event-5 .div8 {
  grid-area: 1 / 8 / 5 / 10;
}
.styled-event-5 .div9 {
  grid-area: 5 / 8 / 9 / 10;
}
.styled-event-5 .div10 {
  grid-area: 9 / 8 / 13 / 10;
}
.styled-event-6 {
  grid-template-columns: 12;
}
.styled-event-6 .div1 {
  grid-area: 1 / 1 / 13 / 5;
}
.styled-event-6 .div2 {
  grid-area: 1 / 6 / 13 / 12;
}

.styled-event-7 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.styled-event-7 .div1 {
  grid-area: 1 / 1 / 7 / 3;
}
.styled-event-7 .div2 {
  grid-area: 1 / 3 / 7 / 5;
}
.styled-event-7 .div3 {
  grid-area: 7 / 1 / 13 / 5;
}
.styled-event-7 .div4 {
  grid-area: 1 / 5 / 13 / 7;
}
.styled-event-7 .div5 {
  grid-area: 1 / 7 / 13 / 9;
}
.styled-event-7 .div6 {
  grid-area: 1 / 9 / 13 / 11;
}
.section-gallery .row {
  margin: 3rem 0;
}
.video-container {
  margin: 0 1rem;
}
.video-container video {
  max-width: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px #00000068;
}

.video-container p {
  margin: 0;
  font-family: "exo2-regular";
}

.video-container .video-subtitle {
  font-family: "exo2-semibolditalic";
  color: var(--primary);
}

.video-title span {
  font-family: "Exo 2", sans-serif;
}

/* CONTACT PAGE */
.section-contact h2 {
  font-size: 2.5em;
}
.contact-info-container {
  width: 70%;
  margin: 2rem auto 0 auto;
}
.contact-info-container p,
.contact-info-container a {
  font-family: "ak-regular";
  font-size: 1.4rem;
  color: var(--darkCharcoal);
  text-decoration: none;
}

.contact-info-container .contact-subtitle,
.contact-subtitle {
  font-size: 2em;
  font-family: "Exo 2", sans-serif;
  color: var(--primary);
}
.contact-container {
  background: url("/assets/img/Chondrofiller---Contáctanos-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  overflow: visible;
}
.img-fachada {
  position: absolute;
  width: 38%;
  object-fit: contain;
  bottom: 0;
  left: 2%;
  z-index: 4;
}
.president-container {
  overflow: visible;
  background: #fff;
  background: rgb(255, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 254, 1) 10%,
    rgba(224, 223, 223, 1) 100%
  );
}
.test {
  height: 20rem;
  width: 100%;
}
.test div {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.img-doctor {
  height: 220%;
  position: absolute;
  bottom: -30%;
  right: 0;
  object-fit: cover;
}
.img-doctor-transparent {
  position: absolute;
  right: 0;
  bottom: -30%;
  z-index: 3;
  height: 220%;
  width: auto;
  object-fit: cover;
}
.top-footer {
  z-index: 4;
  position: relative;
}

.contact-name {
  font-family: "exo2-medium";
  font-size: 1.4em;
}

.president-container p {
  margin: 0;
}

.contact-data-container {
  margin: 2rem auto;
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .nav-home {
    width: 15%;
    margin-left: 1rem;
  }
  nav img {
    width: 100%;
  }

  .navigation-link:link,
  .navigation-link:visited {
    padding-top: 0;
  }

  .vr {
    display: none;
  }

  .footer-container {
    width: 100%;
    margin: 0 auto;
  }

  .hamburger-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav-links {
    /* height: 10.5rem; */
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: var(--offWhite);
    box-shadow: 0px 0px 20px #00000036;
    transition: all 0.5s ease;
    z-index: -1;
    position: absolute;
    transform: translate(-50%);
  }
  .nav-links-container::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--offWhite);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header-img {
    position: relative;
    max-width: 100%;
    z-index: 0;
  }

  .header-title {
    height: 25vh;
  }
  h1 {
    font-size: 4.8em;
    line-height: 4.5rem;
    z-index: 1;
  }

  header video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .our-product-video {
    display: none;
  }

  .product-container-one {
    background-position: left;
    background: none;
  }

  .product-container-one h2 {
    text-align: center;
    margin-left: 0;
  }

  .product-container-one p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .product-container-two {
    padding: 0rem 0 2rem 0;
    background: rgb(255, 254, 254);
    background: linear-gradient(
      180deg,
      rgba(255, 254, 254, 1) 10%,
      rgba(224, 223, 223, 1) 100%
    );
  }

  .product-container-two p {
    max-width: 80%;
    margin: 2rem auto;
  }
  .removable {
    display: none;
  }

  .how-it-works-text-container {
    clip-path: none;
  }

  .how-it-works-text-container h2 {
    align-self: center;
    margin-bottom: 1rem;
  }
  .steps-img {
    padding: 0;
  }

  .steps-img-container picture {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
  }

  .steps-img-container {
    background: rgb(125, 14, 30);
    background: linear-gradient(
      180deg,
      rgba(125, 14, 30, 1) 50%,
      rgba(89, 10, 21, 1) 100%
    );
  }

  .section-how-it-works div {
    background: none;
  }

  .section-how-it-works {
    background: url("/assets/img/how-it-works-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-perks {
    background-position: 100%;
  }

  .perks-title-container h2 {
    margin: 0 0 2rem 0;
    text-align: center;
  }

  footer div {
    margin-bottom: 1rem;
  }

  /* FIND US PAGE */
  .space-img {
    clip-path: none;
  }

  .text-location h2 {
    font-size: 2.5em;
    text-align: center;
  }

  .text-location {
    padding: 1.5rem 0;
  }

  .text-location p {
    font-size: 1.2em;
  }

  .country-list-container ul {
    clip-path: none;
    padding: 2rem 3rem;
  }

  .country-list-container ul li {
    font-size: 2em;
    margin: 1.5rem 0;
  }

  .map-container svg {
    width: 100%;
  }

  .selected-country-container {
    width: 90%;
    height: 50vh;
    padding-top: 0;
    position: static;
  }
  /* US PAGE */
  .section-who-are-we {
    padding: 1rem;
    background-position: 10%;
  }

  .section-who-are-we img {
    max-width: 50%;
  }

  .section-who-are-we p {
    width: 100%;
  }

  /* STUDIES PAGE */
  .section-studies h2 {
    text-align: center;
    font-size: 3em;
  }
  .section-studies {
    padding: 1.5rem;
  }

  .studies-list {
    padding-left: 1rem;
  }

  .studies-list p {
    padding-right: 1rem;
  }

  .studies-list a {
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;
  }

  .img-jogging {
    display: none;
  }

  /* EVENTS PAGE */
  .events-list {
    padding-left: 0;
  }

  /* GALLERY PAGE */
  .video-container {
    margin: 1rem 0;
  }

  .section-gallery .row {
    margin: 1rem 0;
  }
  /* CONTACT PAGE */
  .section-contact h2 {
    text-align: center;
    line-height: 0.85em;
  }
  .contact-container {
    background: linear-gradient(180deg, var(--offWhite), #fbfbfb);
  }

  .president-container {
    background: linear-gradient(180deg, #fbfbfb, #ededed);
  }

  .contact-container,
  .president-container {
    height: auto;
  }

  .contact-info-container,
  .contact-data-container {
    width: 100%;
  }

  .contact-info-container a {
    text-decoration: underline;
  }
  .test,
  .img-fachada {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .img-triangle-center {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  p,
  li {
    font-size: 1.1em;
  }

  .nav-home {
    width: 15%;
  }

  .nav-links {
    flex-direction: column;
    height: fit-content;
    top: -580%;
    width: 100%;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .navigation-link:link,
  .navigation-link:visited {
    padding-bottom: 0.2rem;
  }
  h1 {
    font-size: 3em;
    line-height: 3rem;
  }

  .header-title {
    height: 30vh;
  }

  .section-product h2 {
    font-size: 3.2em;
    line-height: 3rem;
  }
  .how-it-works-text-container h2 {
    font-size: 2.5em;
    margin-left: 0;
  }

  .steps-img-container {
    padding-bottom: 3rem;
  }

  .section-perks h2 {
    font-size: 2.5em;
  }

  .perks-container {
    padding-right: 0;
  }

  .section-perks ul {
    padding-left: 1.5rem;
  }

  footer p,
  footer li {
    font-size: 1.1em;
  }

  .event-body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .events-list p {
    font-size: 1.5em;
    line-height: 0.9rem;
  }
}

@media screen and (min-width: 2000px) {
  .footer-direction {
    width: 60%;
    margin: 0 auto;
  }
  header.header-video {
    height: 50vh;
  }

  header {
    height: 35vh;
  }
  header div,
  header img,
  header video,
  .header-img-right,
  #start-video {
    height: inherit;
  }
  nav li {
    font-size: 1.5em;
  }
  p,
  li {
    font-size: 2em;
    line-height: 2.5rem;
  }
  h1 {
    font-size: 5em;
    line-height: 5rem;
  }

  .section-product h2 {
    font-size: 6em;
  }

  .product-container-one {
    padding: 3rem 0;
  }

  .product-container-two {
    padding: 6rem 5rem;
  }
  .how-it-works-text-container {
    padding: 1rem 0;
  }
  .how-it-works-text-container h2 {
    font-size: 6em;
    margin-bottom: 2rem;
  }

  .how-it-works-text-container p {
    line-height: 2.5rem;
  }

  .section-perks {
    padding: 7rem 0;
  }

  .section-perks h2 {
    font-size: 6em;
    margin-bottom: 5rem;
  }

  .perks-container p {
    line-height: 2.5rem;
  }
  .section-perks li {
    margin: 2rem 0;
    line-height: 2rem;
  }

  .footer-container {
    align-items: stretch !important;
  }

  .footer-container div {
    height: 100%;
  }

  /* FIND US PAGE */
  .text-location {
    padding: 10rem 0;
  }
  .text-location h2 {
    font-size: 4em;
  }
  .text-location p {
    font-size: 2em;
    line-height: 3rem;
  }

  .country-list-container ul {
    padding-left: 20rem;
  }

  .map-container {
    margin-left: -1px;
  }

  .country-list-container ul li {
    font-size: 5em;
    margin: 3.5rem 0;
  }

  /* US PAGE */
  body,
  html {
    height: 100%;
  }
  .section-who-are-we {
    height: auto;
    padding: 5rem 5rem;
  }

  .section-who-are-we h2 {
    font-size: 3em;
  }

  .section-who-are-we p {
    font-size: 2.5em;
  }
  .section-who-are-we img {
    max-width: 62%;
    width: 100%;
  }

  /* EVENTS PAGE */

  .event-header {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
  }
  .event-header p {
    padding: 0.5rem;
  }

  .event-location {
    margin-top: 1rem;
  }
  .event-body {
    height: 70rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 2rem;
  }

  .events-list li p:first-of-type {
    line-height: 4rem;
  }

  .events-list li p {
    font-size: 1.3em;
  }

  .section-events h2 {
    font-size: 5em;
  }

  .section-studies h2 {
    font-size: 4.5em;
  }

  .studies-list li p {
    font-size: 0.9em;
  }

  /* CONTACT PAGE */
  .img-fachada {
    width: 30%;
  }

  .section-contact h2 {
    font-size: 3.5em;
  }

  .contact-container {
    height: auto;
    padding-bottom: 4rem;
  }

  .contact-info-container .contact-subtitle,
  .contact-subtitle {
    font-size: 3em;
  }
  .contact-info-container p {
    font-size: 2em;
  }
  .contact-info-container a {
    font-size: 2rem;
  }

  .contact-data-container {
    margin: 4rem auto;
  }

  .contact-name {
    font-size: 2em;
  }

  .contact-email {
    font-size: 1.9em;
  }

  .img-doctor,
  .img-doctor-transparent {
    bottom: -50%;
    height: 241%;
  }

  .test,
  .test div {
    height: 27rem;
  }

  /* STUDIES PAGE */
  .img-jogging {
    width: 15%;
  }

  .studies-list li p,
  .studies-list li a {
    font-size: 1.1em;
    line-height: 3rem;
  }
  .studies-list li span {
    line-height: 4rem;
  }
  /* GALLERY PAGE */
  .video-container {
    margin: 2rem 4rem;
  }
  .video-container p {
    font-size: 2em;
    margin: 0.5rem 0;
  }
  /* FIND US PAGE */
  .section-location {
    max-height: 40vh;
  }
}

@media screen and (min-width: 3000px) {
  .section-product h2 {
    margin-bottom: 3rem;
  }
  .product-container-one {
    padding: 6rem 0;
  }

  .product-container-two {
    padding: 10rem 5rem;
  }

  footer p,
  footer li {
    font-size: 1.75em;
  }

  footer h4 {
    font-size: 2.1em;
  }

  .footer-container div {
    justify-content: center !important;
    /* width: 100%; */
  }

  /* FIND US PAGE */
  .text-location p {
    font-size: 3.5em;

    line-height: 4rem;
    margin-top: 1rem;
  }

  .map-container {
    margin-left: -1px;
  }

  .country-list-container ul li {
    font-size: 7em;
    margin: 5rem 0;
  }

  .circle {
    width: 3rem;
    height: 3rem;
  }

  #selected-country {
    font-size: 7em;
  }

  .selected-country-container p {
    font-size: 1.7em;
    line-height: 4rem;
  }
}

@media screen and (min-width: 3700px) {
  .country-list-container ul li {
    font-size: 8em;
    margin: 7rem 0;
  }

  .section-who-are-we h2 {
    font-size: 4em;
  }

  .section-who-are-we p {
    font-size: 3.5em;
    line-height: 4rem;
  }
  .img-fachada {
    width: 23%;
  }

  .contact-container {
    padding: 8rem 0;
  }
}
